.profile-container {
    display: flex;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.display-profile {
    opacity: 1; /* Makes it fully visible */
    pointer-events: auto; /* Allows clicks/interactions when visible */
    transition: opacity 1.5s ease-in-out; /* Smooth transition */
}

.hide-profile {
    opacity: 0; /* Makes it completely transparent */
    pointer-events: none; /* Prevents clicks/interactions when invisible */
    transition: opacity 1.5s ease-in-out; /* Smooth transition over 0.5 seconds */
}

.profile-image {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

/* Media query for tablets and larger */
@media (min-width: 768px) {
    .profile-container {
        height: 100vh;
    }
}

/* Media query for small screens */
@media (max-width: 720px) {
    .profile-container {
        width: 100vw;
        height: 100vh;
    }

    .profile-image {
        border-radius: 50%;
        height: 250px;
        width: 250px;
    }
}
