.profile-container {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 6.25rem;
}

.typewriter-profile-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.display-profile {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 1.5s ease-in-out;
}

.hide-profile {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1.5s ease-in-out;
}

.profile-image {
    border-radius: 50%;
    height: 350px;
    width: 350px;
}

/* Media query for tablets and larger */
@media (min-width: 768px) {
    .profile-container {
        min-height: 100%;
    }
}

/* Media query for small screens */
@media (max-width: 720px) {
    .profile-container {
        width: 100vw;
        min-height: 100%;
    }

    .profile-image {
        border-radius: 50%;
        height: 300px;
        width: 300px;
    }
}
