.horizontal-menu {
    align-items: center;
    display: flex;
    height: auto;
    justify-content: center;
    list-style-type: none;
    padding: 1rem 0 0 0;
}

.horizontal-menu li {
    margin-right: 4px;
}

.horizontal-menu li:last-child {
    margin-right: 0;
}

.tabButton {
    appearance: none;
    background-color: purple;
    border: 1px solid rgb(83, 1, 90);
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    top: 50%;
}

.tabButton.dark-mode{
    appearance: none;
    background-color: red;
    border: 1px solid rgb(83, 1, 90);
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    top: 50%;
}

.tabButton.light-mode {
    appearance: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    top: 50%;
}

.active.dark-mode {
    appearance: none;
    background-color: rgb(200, 50, 242);
    border: 1px solid rgb(83, 1, 90);
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    top: 50%;
}

.active.light-mode {
    background-color: #2196F3;
    border: 1px solid #2196F3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    color: white;
    font-size: 16px;
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    top: 50%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.content-card {
    background-color: #7e57c2; 
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 150px;
    width: 475px;
    margin: 0 auto;
}

.content-card.light-mode {
    background-color: lightskyblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.content {
    align-items: center;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.tabButton:hover {
    background-color: rgb(200, 50, 242);
    cursor: pointer;
}

.tabButton.light-mode:hover {
    background-color: #2196F3;
    cursor: pointer;
}

@media (max-width: 720px) {
    .horizontal-menu {
        padding: 0;
    }

    .tabButton.dark-mode {
        appearance: none;
        background-color: purple;
        border: 1px solid rgb(83, 1, 90);
        color: white;
        font-size: 14px;
        padding: 15px 15px;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
        top: 50%;
    }

    .tabButton.light-mode {
        appearance: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
        background-color: lightskyblue;
        border: 1px solid lightskyblue;
        font-size: 14px;
        padding: 15px 15px;
        border-radius: 12px;
        text-align: center;
        text-decoration: none;
        top: 50%;
    }

    .active.dark-mode {
        font-size: 14px;
        padding: 15px 17px;
        border-radius: 12px;
    }

    .active.light-mode {
        font-size: 14px;
        padding: 15px 17px;
        border-radius: 12px;
    }
    
    .content-card {
        width: 70vw;
    }
}

@media (max-width: 400px) {
    .tabButton.dark-mode {
        padding: 8px 8px;
    }
    .tabButton.light-mode {
        padding: 8px 8px;
    }

    .active.dark-mode {
        padding: 8px 8px;
    }

    .active.light-mode {
        padding: 8px 8px;
    }
}