html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dark-mode {
  background-color: #282c34;
}

.light-mode {
  background-color: lightyellow;
}

.scroll-color {
  background-image: linear-gradient(to right, #8A2BE2, #00BFFF);
}

.button-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  gap: 5px;
  margin: 10px;
  width: 150px;
  height: 50px;
}

.github-button:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.content-fade-in-wrapper {
  /* Renamed class for clarity */
  opacity: 0;
  /* Start completely transparent */
  transition: opacity 1s ease-in-out;
  /* Smooth fade-in over 1 second */
}

/* State when the content is visible and loaded */
.content-fade-in-wrapper.visible {
  opacity: 1;
  /* Fully opaque */
}