.App {
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dark-mode {
  background-color: rgb(11, 10, 11);
}

.light-mode {
  background-color: lightyellow;
}

.button-container {
  display: flex;
  align-items: center; /* Centers items vertically within the container */
  position: absolute; /* Use absolute positioning to place it in the upper left corner */
  top: 0;
  left: 0;
  gap: 5px;
  margin: 10px; /* Optional: adds some margin from the edges */
  width: 150px;
  height: 50px;
}

.github-button,
.github-button-light,
.linkedin-button,
.linkedin-button-light,
.email-button,
.email-button-light {
  padding: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  border-color: transparent;
}

.github-button {
  height: 25px;
  width: 25px;
  background-image: url('../src/assets/github-svgrepo-com.svg');
}

.github-button-light {
  height: 25px;
  width: 25px;
  background-image: url('../src/assets/black-github.svg');
}

.linkedin-button {
  height: 30px;
  width: 30px;
  background-image: url('../src/assets/white-linkedin-svgrepo-com.svg');
}

.linkedin-button-light {
  height: 30px;
  width: 30px;
  background-image: url('../src/assets/black-white-linkedin.svg');
}

.email-button {
  height: 25px;
  width: 25px;
  background-image: url('../src/assets/white-email-svgrepo-com.svg');
}

.email-button-light {
  height: 25px;
  width: 25px;
  background-image: url('../src/assets/email-svgrepo-com.svg');
}

.github-button:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

@keyframes typewriter {
  from { width: 0; }
  to { width: 75%; }
}

@keyframes blinkCursor {
  0%, 100% { border-color: transparent; }
  50% { border-color: white; }
}

.typewriter{
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid white; 
  animation: typewriter 4s steps(40, end), blinkCursor 0.75s step-end infinite;
}
