html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: auto;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.dark-mode {
  background-color: #282c34;
}

.light-mode {
  background-color: lightyellow;
}

.button-container {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  gap: 5px;
  margin: 10px;
  width: 150px;
  height: 50px;
}

.github-button,
.github-button-light,
.linkedin-button,
.linkedin-button-light,
.email-button,
.email-button-light {
  padding: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px;
  border-color: transparent;
}

.github-button {
  height: 25px;
  width: 25px;
  background-image: url('../src/assets/github-svgrepo-com-light-1.svg');
}

.github-button-light {
  height: 25px;
  width: 25px;
  background-image: url('../src/assets/github-svgrepo-com-dark.svg');
}

.linkedin-button {
  height: 30px;
  width: 30px;
  background-image: url('../src/assets/white-linkedin-svgrepo-com.svg');
}

.linkedin-button-light {
  height: 30px;
  width: 30px;
  background-image: url('../src/assets/linkedin-svgrepo-com-1.svg');
}

.email-button {
  height: 25px;
  width: 25px;
  background-image: url('../src/assets/white-email-svgrepo-com.svg');
}

.email-button-light {
  height: 25px;
  width: 25px;
  background-image: url('../src/assets/email-svgrepo-com.svg');
}

.github-button:hover {
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.content-fade-in-wrapper { /* Renamed class for clarity */
  opacity: 0; /* Start completely transparent */
  transition: opacity 1s ease-in-out; /* Smooth fade-in over 1 second */
}

/* State when the content is visible and loaded */
.content-fade-in-wrapper.visible {
  opacity: 1; /* Fully opaque */
}

